.navbar-menu {
    margin-left:36%;
} 

:root {
    --background: #bdece6;
    --maintextdark: #47a391;
  }



main{
   background-image: url('background.jpg') ;
}


table {
    width: 100%;
}

#drink {
    max-width: 10em;
    
}

.tile {
    background-color: rgba(255, 255, 255, 0.5);
}

img {
    max-width: 5rem;
    max-height: 5rem;
}

p#bestsell.title {
    color: burlywood; 

.tile.is-4.is-child.box {
    background-color: rgb(228, 248, 245, 0.1);
}

